#global-loader {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 200px;
    margin: 0px;
    top: 0px;
    display: none;
}

#rmi-inspect-graph {
    text-align: center;
}

.tick {
    font-size: 12pt;
}

.axis-label {
    font-size: 12pt;
    font-weight: bold;
}

.rmi-label {
    font-family: monospace;
}

.selector-rect {
    fill-opacity: 15%;
    fill: darkblue;
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 5 5;
}

.selector-bound {
    stroke: black;
}

.hover-line {
    stroke: gray;
}

#pareto-tooltip {
    display: none;
    position: absolute;
    top: -100;
    left: -100;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 100;
}
